body {
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    width: 1.5em;
    height: 1.5em;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    background: hsl(227, 100%, 23%);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, #af6ab3, #f3ca40);
    border: .25em solid hsl(227, 100%, 23%);
    border-radius: 100vW;
}

@supports (scrollbar-color: blue pink) {
    * {
        scrollbar-color: linear-gradient(to top, #af6ab3, #f3ca40) hsl(227, 100%, 23%);
    }
}

header {
    text-align: center;
    /*background-image: linear-gradient(to bottom right, #EB006F, #022AEB);*/
    /*background-image: linear-gradient(to bottom right, #000428, #004e92);*/
    background-image: linear-gradient(to right, #4568dc, #b06ab3);
    /*background-image: linear-gradient(to right, #3a1c71, #d76d77, #ffaf7b);*/
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: yellow;
}

main {
    width: 100%;
    max-height: fit-content;
    color: #fff;
    background-image: url("bg_pattern.png");
    background-repeat: repeat;
    background-size: 150px, 150px;
    background-color: #1d3557;
    padding-bottom: 2rem;
    text-align: center;
    /* Different BG Design */
    /*background-color: #ffffff;
    opacity: 0.8;
    background-image: linear-gradient(135deg, #444cf7 25%, transparent 25%), linear-gradient(225deg, #444cf7 25%, transparent 25%), linear-gradient(45deg, #444cf7 25%, transparent 25%), linear-gradient(315deg, #444cf7 25%, #ffffff 25%);
    background-position: 26px 0, 26px 0, 0 0, 0 0;
    background-size: 52px 52px;
    background-repeat: repeat;*/
}

#heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    padding-top: 1rem;
    user-select: none;
}

.dot {
    width: 15px;
    height: 15px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
}

.nav_buttons_line {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
}

.nav_buttons {
    color: yellow;
    border-style: solid;
    border-color: #000;
    border-radius: 5px;
    background-color: #000;
    margin: 0rem .5rem;
    margin-top: 1rem;
}

.nav_buttons:hover {
    background-color: #2b2b2b;
    border-color: #2b2b2b;
}

#indi {
    padding-top: 1rem;
    margin-left: 1rem;
    text-decoration: underline;
}

.section {
    width: 60%;
    margin-top: 2rem;
    margin-left: 20%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    user-select: none;
    border-radius: 50px;
    transition: margin-left 1s;
}

#balli_sec {
    background-color: #63da38;
}

#balli_sec:hover {
    background-color: #f3ca40;
}

#Balli_Logo {
    width: 18rem;
    height: auto;
}

#Balli_des {
    width: 65%;
    display: inline-block;
    text-align: left;
    font-size: 1.65rem;
    margin-left: 1rem;
    background-color: transparent;
}

#img_col {
    width: 50%;
    margin-left: 25%;
    margin-top: 3rem;
}

.images {
    width: 100%;
    height: 500px;
    border: 5px;
    border-style: solid;
    border-radius: 10px;
    border-color: #ff206e;
    display: inline;
}

#img2 {
    display: none;
}

.img_but {
    color: #fff;
    background-color: #000;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    width: 40px;
    margin-top: 1rem;
    font-size: 1.5rem;
}

#ytv {
    margin-top: 1rem;
    border: 5px;
    border-style: solid;
    border-color: #ff206e;
    border-radius: 10px;
}

#lil_content {
    width: 50%;
    margin-left: 25%;
    margin-top: 2rem;
    text-align: left;
}

.container {
    display: flex;
    padding-left: 0px;
}

.item {
    flex-basis: 200px;
}

.h2 {
    background-color: #000;
    max-width: fit-content;
    color: #ff206e;
    border: 5px;
    border-style: solid;
    border-radius: 3px;
    border-color: #ff206e;
    font-weight: bold;
}

#git_section {
    width: 50%;
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #ff206e;
    text-align: left;
    user-select: none;
    border-radius: 60px;
    display: inline-block;
    transition: background-color 300ms;
}

#git_section:hover {
    transform: scale(1.025);
    background-color: #f3ca40;
}

#git_logo {
    width: 25%;
    margin-left: 2.5rem;
    border: 10px;
    border-style: solid;
    border-radius: 50%;
    border-color: #fff;
}

#git_des {
    margin-left: 3rem;
    display: inline-block;
    font-weight: 700;
    font-size: 5rem;
}

#desc_me {
    width: 40%;
    margin-left: 30%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-image: linear-gradient(315deg, #ec008c, #fc6767);
    text-align: left;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    border-radius: 30px;
}


/* CONTACT FORM */

form {
    background-image: linear-gradient(45deg, #ec008c, #fc6767);
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 30%;
    padding: 2rem;
    border-radius: 30px;
}

form h3 {
    margin-bottom: 20px;
    font-weight: 700;
}

form input,
form textarea {
    border: 0;
    border-radius: 10px;
    margin: 5px 0;
    padding: 10px;
    outline: none;
}

form button {
    width: 20%;
    height: 50px;
    border: 0;
    border-radius: 100vw;
    margin-top: 5px;
    font-size: 20px;
    font-weight: 700;
    background-color: #f3ca40;
    cursor: pointer;
}


/* Alert */

#alert {
    user-select: none;
    max-width: fit-content;
    margin-left: 86%;
    border: 1px solid;
    border-color: #74ba84;
}


/* Cool CSS */


/* animated text */

#coolcss {
    max-width: 50%;
    height: fit-content;
    margin-left: 25%;
    padding: 2rem;
    padding-bottom: 4rem;
    background-color: #fff;
    border-radius: 60px;
}

#animated_gradient {
    width: 90%;
    height: 100px;
    color: black;
    padding: 1rem;
    margin-left: 5%;
    border-radius: 20px;
    background-size: 300%;
    background-position: left;
    background-image: linear-gradient(45deg, #ec1c24, #ffca18, #c4ff0e, #00a8f3);
    animation: bg-animation 5s infinite alternate;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

.title {
    font-weight: 900;
    font-size: 2rem;
}


/* 3D */

.three_d {
    width: 90%;
    height: fit-content;
    margin-left: 5%;
    margin-top: 1.5rem;
    padding: 1rem;
    background-image: linear-gradient(45deg, blue, rgb(3, 3, 111));
    border-radius: 20px;
}

.card {
    width: 50%;
    margin-left: 25%;
    border: 0;
    background: transparent;
    color: black;
    border-radius: 10px;
}

.card_content {
    text-align: center;
    position: relative;
    padding: 5em;
    transition: transform 3s;
    transform-style: preserve-3d;
}

.card:hover .card_content {
    transform: rotateY(180deg);
}

.card_front,
.card_back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2em;
    border-radius: 10px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.card_front {
    background-image: url("london.jpg");
    background-size: 100%;
    color: #fff;
}

.card_title {
    transform: translateZ(6rem);
}

.card_subtitle {
    transform: translateZ(4rem);
}

.card_body {
    color: #fff;
    transform: translateZ(4rem);
}

.card_back {
    background-color: rgba(1, 24, 61, 0.8);
    background-image: url("ny.jpg");
    background-size: 100%;
    background-blend-mode: overlay;
    transform: rotateY(180deg);
    font-size: 2rem;
}