header{
    text-align: center;
    background-color: #2ba0ff;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.nav_buttons_line{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
}

.nav_buttons{
    color: #fff;
    border-style: solid;
    border-color: #000;
    border-radius: 5px;
    background-color: #000;
    margin: 0rem .5rem;
}

.nav_buttons:hover{
    background-color: #2b2b2b;
    border-color: #2b2b2b;
}
